<header>
    <div class="flex flex-row">
        <img class="site-logo" alt="Bear Logo" src="{{ '/assets/img/bear_logo.png' | relative_url }}" height="64px" width="64px" />
        {%- assign page_paths = site.pages | map: 'path' -%}
        <a class="site-title flex-item" rel="author" href="{{ '/' | relative_url }}"><h1>{{ site.title | escape }}</h1></a>
        {%- if page_paths -%}
        <nav class="site-nav flex-right">
            <div class="flex flex-row">
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
                <a class="page-link flex-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
            {%- endfor -%}
        </nav>
        {%- endif -%}
    </div>
</header>