@use 'variables';

body {
    font: variables.$base-font-weight #{variables.$base-font-size}/#{variables.$base-line-height} variables.$base-font-family;
    color: variables.$text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0;
    padding: 1em 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3, h4, h5, h6 {
    font-size: 1.25em;
}

a {
    color: variables.$text-color;
    text-decoration: variables.$link-decoration;
}

.bhead {
    font-weight: bold;
}

.byline {
    font-weight: normal;
    font-style: italic;
}

.highlight {
    font: variables.$code-font-weight #{variables.$code-font-size}/#{variables.$code-line-height} variables.$base-font-family;
}
