$base-font-family: 'Roboto', sans-serif !default;
$base-font-size: 14px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.25 !default;

$text-color: #fff;
$background-color: #1d1d1d; 
$main-color: #1e1e1e;

$breakpoint-md: 600px;

@import 
  "partials/mixins",
  "partials/fonts",
  "partials/typography",
  "partials/layout"
  ;