---
---

@import "minima";

@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    src: url('/assets/fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Alfa Slab One';
    font-weight: 400;
    src: url('/assets/fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf') format('truetype');
}

body {
    font-family: 'PT-Sans';
    background-color: #f7f7f7;
}

.site-header {
    border-bottom: none;
}

main {
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Alpha Slab One';
}

.page-content > div.wrapper {
    padding-top: 30px;
    background-color: #fff;
    box-shadow: 2px 2px 3px;
    flex: 1;
}

.site-footer {
    border-top: none;
}